html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  background: linear-gradient(180deg, #121212 100%, #1d2025 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
